* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

.h1 {
    font-size: 48px;
    font-weight: 700;
    color: black;
}

/*Titulo noticias*/

.h2 {
    font-size: 30px;
    font-weight: 700;
    color:black
}

/*Descrição notícia*/

.h3 {
    font-size: 26px;
    font-weight: 400;
    color: #2e2e2e;
}

/*Data*/

.p {
    font-size: 18px;
    font-weight: 600;
    color: #2e2e2e;
}

  body {
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;
    background-image: #fcfcfc;
    background-attachment: fixed;
  }
  
  .navbar {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    padding: 0 30px;
  }
  
  .nav-items {
    float: none;
    position: flex;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    margin: 0px;
  }
  
  .navbar a:hover {
    background-color: white;
    color: black;
  }
  
  .logo-nav {
    width: auto;
    max-width: 400px;
    min-width: 200px;
    height: auto;
    max-height: 200px;
    min-height: 100px;
    margin-left: 30px;
    margin-right: 30px;
    background-image: url('Logo\ AM\ SF.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  /*Autor*/

.autor {
  display: flex;
  flex-direction: row;
  max-height: 85px;
}

.imagem-autor {
  flex:auto;
  max-width: 85px;
}

.foto-autor {
  width:80px;
  height: 80px;
}

.texto-autor {
  flex:auto;
  align-items: center;
}

  /*notícia*/

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.coluna-principal {
  flex: 80%;
  background-color: #fcfcfc;
  padding: 20px;
}

.data {
  margin-top: 5px;
}

.texto-noticia {
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
}

.img-noticia1 {
  display: flex;
  flex-direction: column;
  max-width: 290px;
  float:left;
}

.img-noticia2 {
  display: flex;
  flex-direction: column;
  max-width: 290px;
  float: right;
}

  /*ads*/

.coluna-secundaria {
  flex: 20%;
  background-color: #fcfcfc;
  padding: 20px;
}

.ad1 {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  max-width: 240px;
  margin-top: 100px;
  position: sticky;
}

.ad2 {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  max-width: 240px;
}

  /*Footer*/

  .container-footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top:auto;
    background-color: black;
    color: #ffffff;
    margin-top: 20px;
  }

  .logo-footer {
    width: auto;
    max-width: 180px;
    height: auto;
    background-image: url('Logo\ AM\ SF.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 20px;
  }